/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
	margin: 1.5em;
	padding: 0;
}

img {
	padding: 1em;
}

ul {
	padding: 0;
}

p {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

#memory_board .col-md-3 {
	overflow: hidden;
	max-height: 240px;
	padding: .25em;
}







