/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
	margin: 1.5em;
	padding: 0;
}

img {
	padding: 1em;
}

#memory_board {
	background: #CCC;
	border: #999 solid 1px;
	padding: 30px;
	width: 800px;
	height: 540px;
	margin: 0px auto;
}

#memory_board > div {
	background: url('../design/card-backs.jpg') no-repeat;
	background-size: 70px;
	border: #000 solid 1px;
	padding: 20px;
	width: 71px;
	height: 71px;
	float: left;
	margin: 10px;
	text-align: center;
	cursor: pointer;
	font-size: 60px;
}

ul {
	padding: 0;
}

p {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}









